@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



.pagina {
    display: flex;
    padding: 20px;
    width: 100vw;
    flex-wrap: wrap;  
}
.text{
    margin: auto;
    width: 48vw;
    min-width: 400px;
}
.text h2{
    font-family: "Audiowide",system-ui;
    font-size: 2rem;

}
.text p{
    font-family: 'Arial', monospace;
    font-size: 1rem;
}



img{
    width: 40vw;
    height: 60vh;
    border: 3px solid rgb(0, 0, 82);
    border-radius: 16px 0px 16px 0px;

    min-width: 400px;
    min-height: 600px;
    
}
.imagem{
padding-left: 16px;
margin: auto;
position: relative;
}